/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.35;
    color: #141414;
    text-align: left;
    background-color: #fff;
    box-sizing: border-box
}