.photo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
        cursor: pointer;
    }
}

button {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 16px;
    padding: 16px 64px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: bold;
    border-color: #3075f3;
    color: #fff;
    background-color: #3075f3;
}
