.modal {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    &__body img {
        border-radius: 8px;
    }

    &__background {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0, 0, 0); // fallback
        opacity: .5;
        transition: opacity .15s linear;
    }
}