<button (click)="dec()">
    Remove tab
</button>
<button (click)="inc()">
    Add tab
</button>

<br>

<tabs class="tabs__titles">
    <tab *ngFor="let tab of tabs" >
        <tab-title class="tabs__title">
            Tab
            <b>{{ tab }}</b> title
        </tab-title>
        <tab-content hidden>
            Tab
            <b>{{ tab }}</b> content
            <test [tab]="tab"></test>
        </tab-content>
    </tab>
</tabs>

<hr style="margin-top: 100px;">
<p><b>Задание:</b> форкнуть проект (зеркало на гитхаб) и на его основе реализовать табы по указанной в app.component.html разметке
    (в отдельном модуле, в отдельном каталоге). </p>
<p>И содержимое, и заголовок должны поддерживать отображение других компонентов/произвольного html. По умолчанию активен первый
    таб. Должна поддерживаться возможность динамически добавить/убрать таб. При удалении активного таба, активным становится первый таб (если остался хотя бы один).</p>
<p>Для оформления табов достаточно  использовать 3 класса из styles.css. Приложение должно работать без NO_ERRORS_SCHEMA/CUSTOM_ELEMENTS_SCHEMAв AppModule.</p>
<p><b>Дополнительное задание:</b> Сделать так, чтобы содержимое табов инициализировалось только при активации таба. Допускается изменение
    разметки.
</p>